NEXT_PUBLIC_URL=https://makingtaxdigitalexplained.com
STRIPE_SECRET_KEY=sk_live_YOUR_SECRET_KEY_HERE
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_live_YOUR_PUBLISHABLE_KEY_HERE
STRIPE_PRODUCT_ID=prod_YOUR_PRODUCT_ID_HERE
